# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Virtual env
.venv/
venv/

# Environment
.env

# Models
models/*.pt
models/*.onnx
!models/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Data
data/
*.mp4
*.avi
*.mkv

# Spark checkpoints
checkpoints/
spark-warehouse/
